body {
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 3%;
}

.task-list {
  background-color: #151515;
  padding: 20px;
  border-radius: 5px;
  width: 800px;
}

.list-title {
  color: #FCBAAD;
  margin-top: 0;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #202020;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  color: #FCBAAD;
  margin: 0;
}

.task {
  display: flex;
  align-items: center;
  background-color: #202020;
  padding: 10px;
  margin-bottom: 5px;
}

.task.completed {
  background-color: #323232;
}

.task input {
  margin-right: 10px;
}

.task-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.task-name {
  color: #FCBAAD;
  text-decoration: none;
  margin-top: 5px;
}

.task-description {
  color: #A0A0A0;
  font-size: 14px;
  margin-bottom: 5px;
}

.task span {
  color: #FCBAAD;
  text-decoration: none;
}


.task span:hover {
  color: #61dafb;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.add-task {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.add-task input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #FCBAAD;
  border-radius: 5px;
  margin-right: 10px;
}

.add-task button {
  background-color: #FCBAAD;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.add-task {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.add-task input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #FCBAAD;
  border-radius: 5px;
  margin-right: 10px;
}

.add-task button {
  background-color: #FCBAAD;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #61dafb;
}

.menu {
  background-color: #202020;
  padding: 10px 0;
  text-align: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #FCBAAD;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #61dafb;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.home p {
  color: #777;
  font-size: 16px;
  margin-bottom: 20px;
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sobre-nosotros h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.sobre-nosotros p {
  color: #777;
  font-size: 16px;
  margin-bottom: 20px;
}

.sobre-nosotros ul {
  list-style-type: disc;
  text-align: left;
  margin-left: 20px;
  color: #333;
  font-size: 16px;
}

.sobre-nosotros li {
  margin-bottom: 5px;
}


